<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="DemoTest" verbose="1" >


  <test name="Demoxml" >
    <classes>
       <class name="MyMavenProject.MyMavenProjectPractice.JenkinsTestChromeLaunch" />
       <class name="MyMavenProject.MyMavenProjectPractice.JenkinsTestYahooLaunch" />
    </classes>
  </test>
 
</suite>
